{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/style_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/2falogin.css' %}">
    <link rel="stylesheet" href="{% static 'css/2fasetup.css' %}">
    <link rel="stylesheet" href="{% static 'css/2fadisable.css' %}">
    <!-- Boxicons CSS - On a le droit de load des boxicons cest plus simple non?-->
    <script src="https://kit.fontawesome.com/4cbbdfb3a6.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    <title>
        {% block title %} The Famous Pong {% endblock %}
    </title>
    {% block head %}{% endblock %}
</head>
<body {% block body_attributes %}{% endblock %}>

<header>
    <div class="header-container">
        <div class="image-text">
        <span class="image">
            <a href="{% url 'home' %}" class="nav-link">
              <i class="fa-solid fa-table-tennis-paddle-ball"></i>
            </a>
        </span>
        </div>
        <div class="login-section">
            {% if user.is_authenticated %}
                <img class=avatar src="{{ profile.avatar.url }}" alt="Profile Image">
                <a> Hi, {{ profile.user.username }} !</a>
                <a href="{% url 'authentication:logout' %}">
                    {% csrf_token %}
                    <i class='bx bx-log-out'></i>
                </a>
            {% else %}
                <a href="{% url 'authentication:register' %}" title="register">Register</a>
                <a href="{% url 'authentication:login' %}" title="login">Login</a>
            {% endif %}
        </div>
    </div>
    <div class="diffuse-circle circle-2"></div>

</header>

<nav class="sidebar">
    <div class="menu-container">
        <div class="menu-bar">
            <li class="nav-links">
                <a href="{% url 'home' %}" class="nav-link navbar-link" data-page="home" title="Home">
                    <i class='bx bxs-home-alt-2 icon'></i>
                </a>
                <a href="{% url 'dashboard:leaderboard' %}" class="nav-link navbar-link" data-page="leaderboard"
                   title="Leaderboard">
                    <i class='bx bxs-trophy icon'></i>
                </a>
                {% if user.is_authenticated %}
                    <a href="{% url 'dashboard:dashboard' %}" class="nav-link navbar-link" data-page="dashboard"
                       title="Dashboard">
                        <i class='bx bxs-face icon'></i>
                    </a>
                    <a href="{% url 'friends:friends_overview' %}" class="nav-link navbar-link" data-page="friends"
                       title="Friends">
                        <i class='bx bxs-heart icon'></i>
                    </a>
                {% endif %}
                <a href="{% url 'game:play' %}" class="nav-link navbar-link" data-page="play" title="Play">
                    <i class='bx bxs-rocket icon'></i>
                </a>
                <a href="{% url 'our_team' %}" class="nav-link navbar-link" data-page="our_team" title="Our Team">
                    <i class='bx bxl-github icon'></i>
                </a>
            </li>
        </div>
        <div class="bottom-content">
            <li class="mode">
                <div class="moon-sun">
                    <i class='bx bx-moon moon'></i>
                    <i class='bx bx-sun sun'></i>
                </div>
                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>


<section class="home">
    <main id="content">
        {% block content %}
            <div class="home_gameHistory_container">
                {% include 'dashboard/game_history.html' %}
            </div>
        {% endblock %}
    </main>
</section>

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/spa.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
