
.my-profile {
    display: grid;
    grid-template-areas: 'hi info info'
                         'my-profile-pic info info'
                         'my-profile-pic info info'
                         'my-settings info info';
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 20px;
}

.hi-profile {
    grid-area: hi;
    border-radius: 35px;
    background: var(--menubar-icone-hover-color);
    backdrop-filter: blur(201px);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.my-profile-pic {
    grid-area: my-profile-pic;
    border-radius: 35px;
    background: var(--menubar-color);
    backdrop-filter: blur(201px);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.my-informations {
    grid-area: info;
    border-radius: 35px;
    background: var(--menubar-color);
    backdrop-filter: blur(201px);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.my-settings {
    grid-area: my-settings;
    border-radius: 35px;
    background: var(--menubar-color);
    backdrop-filter: blur(201px);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.my-settings .two-factor-authentication {
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.hi-profile h2,
.my-profile-pic h2,
.my-informations h2,
.my-settings h2 {
    margin-bottom: 20px;
    font-size: 30px;

}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    border: solid 1px var(--font-color);
    background-color: rgba(0, 0, 0, 0);
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 35px;
    color: var(--font-color);
    width: 100%;

}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}

.help-text {
    color: green;
    font-size: 0.875rem;
    margin-top: 5px;
}

.country-display {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}

.country-flag {
    width: 30px;
    height: 20px;
    object-fit: cover;
}
.profile-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.file-input-wrapper {
    position: relative;
}
.file-input-wrapper .edit-pic {
    align-items: center;
}

.file-input-wrapper input[type="file"] {
    display: none;
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-position: center;
}

.my-profile .btn {
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

/* Custom File Input Label */
.edit-pic {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.edit-pic i {
    margin-right: 8px;
    font-size: 3em;
}

.my-informations .div-button {
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

