/* static/css/friends.css */

li {
    list-style: none;
}
.my-friends {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 3fr 2fr;
    grid-gap: 20px;
    grid-auto-rows: minmax(100px,auto);
    height: 65vh;
    margin-top:20px;
}

.my-friends h3 {
    font-size: 20px;
    font-weight: 300;
    padding: 20px;
}

.my-friends a {
    padding: 20px;
}

.add-friends {
    grid-column: 1;
    grid-row: 1/ -1;
    border-radius: 35px;
    padding: 10px;
    background: var(--menubar-color)
}

.add-friends .search-results {

}


.friend-list{
    grid-column:2;
    grid-row: 1;
    border-radius: 35px;
    padding: 10px;
    background:var(--menubar-color)
}

.friend-request-received{
    grid-column: 2;
    grid-row:2;
    border-radius: 35px;
    padding: 10px;
    background: var(--menubar-color)
}

/* friends list */
/* avatar */
.friend-list .avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.friend-list li {
    display : flex;
    flex-direction: row;
}

/* status-dot */
.friend-list .status-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.friend-list .status-dot.online {
    background-color: #2ecc71;
}

.friend-list .status-dot.offline {
    background-color: #f30622;
}

