
.game-history-section {
    display: flex;
    flex-direction: column;
    height: 75vh;
    margin-top: 20px;
    padding: 20px;
    border-radius: 35px;
    background: var(--menubar-color);
    backdrop-filter: blur(201px);
}

.game-history {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.players {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.player img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.scores {
    font-size: 18px;
    font-weight: bold;
}

.winner {
    font-size: 16px;
    color: #333;
}