
.our-team-container {
    display: grid;
    grid-template-areas: 'elo eliot'
                         'elo eliot'
                         'antho mehdi'
                         'antho mehdi';
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 20px;
}

.elo-container {
    grid-area: elo;
    border-radius: 35px;
    background: var(--menubar-color);
    backdrop-filter: blur(201px);
    display: flex;
    flex-direction: column;
}

.eliot-container {
    grid-area: eliot;
    border-radius: 35px;
    background: var(--menubar-color);
    backdrop-filter: blur(201px);
    display: flex;
    flex-direction: column;
}

.antho-container {
    grid-area: antho;
    border-radius: 35px;
    background: var(--menubar-color);
    backdrop-filter: blur(201px);
    display: flex;
    flex-direction: column;
}

.mehdi-container {
    grid-area: mehdi;
    border-radius: 35px;
    background: var(--menubar-color);
    backdrop-filter: blur(201px);
    display: flex;
    flex-direction: column;
}