
.our-team-container {
    margin-top: 100px;
    display: grid;
    grid-template-areas: 'elo eliot'
                         'elo eliot'
                         'antho mehdi'
                         'antho mehdi';
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: 500px;
    justify-content: center;
}

.our-team-container .container {
    border-radius: 35px;
    background: var(--menubar-color);
    backdrop-filter: blur(201px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.elo-container {
    grid-area: elo;
}

.eliot-container {
    grid-area: eliot;
}

.antho-container {
    grid-area: antho;
}

.mehdi-container {
    grid-area: mehdi;
}

.our-team-container a {
    text-align: center;
    font-size: 6.5em;
    margin: 20px;
    font-weight: bold;
    color: var(--font-color);
    text-decoration: none;
    line-height: 1;
    transition: all .1s ease-in-out;
}

.our-team-container a:hover {
    opacity: 0.8;
}