
.my-profile {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 2fr;
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    height: 65vh;
    margin-top: 20px;
}

.hi-profile {
    grid-column: 1;
    grid-row: 1;
    border-radius: 35px;
    background: var(--menubar-icone-hover-color);
    backdrop-filter: blur(201px);
    display: flex;
    flex-direction: column;
}

.my-profile-pic {
    grid-column: 1;
    grid-row: 2;
    border-radius: 35px;
    background: var(--menubar-color);
    backdrop-filter: blur(201px);
    display: flex;
    flex-direction: column;
}

.my-settings {
    grid-column: 1;
    grid-row: 3;
    border-radius: 35px;
    background: var(--menubar-color);
    backdrop-filter: blur(201px);
    display: flex;
    flex-direction: column;
}

.my-informations {
    grid-column: 2;
    grid-row: 1/ -1;
    border-radius: 35px;
    background: var(--menubar-color);
    backdrop-filter: blur(201px);
    display: flex;
    flex-direction: column;
}

.hi-profile {
    margin-bottom: 10px;
    padding: 25px;
}

.my-profile-pic h2 {
    margin-bottom: 10px;
    padding: 25px;
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto;
    object-position: center;
}