@import url("friends.css");
@import url("user.css");
/* Googl Font import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* --- General --- */

* {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Global color variable --- */
:root {
    --background-color: #04011B;
    --menubar-color: rgba(255, 255, 255, 0.4);
    --toggle-color: #313131;
    --menubar-icone-hover-color: #2176FF;
    --menubar-hover-color: #FFFFFF;
    --sidebar-dark-color: #151515;
    --font-color: #f2f2f2;
}

/* --- Body --- */
body {
    height: 50vh;
    background: var(--background-color);
    color: var(--font-color);
}

body.light {
    --background-color: #ffffff;
    --toggle-color: #b4b5b6;
    --sidebar-dark-color: #ffffff;
    --menubar-color: #8c96a8;
    --font-color: #151515;
}


/* --- Sidebar --- */

/*.sidebar .image-text img {*/
/*    width: 40px;*/
/*    border-radius: 10px;*/
/*}*/

.sidebar .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    font-size: 35px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transition: all 0.3s;
    margin: 60px;
}

.sidebar .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers menu-bar vertically */
    align-items: center; /* Centers menu-bar horizontally */

}

.sidebar li {
    display: flex;
    flex-direction: column;
    height: auto;
    list-style: none;
    align-items: center;
    position: relative;
    gap: 15px;
}

.sidebar li .icon,
.sidebar li .text {
    display: flex;
    padding: 15px;
    align-items: center;
    font-size: 20px;
    color: var(--font-color);
    /*min-width: 60px;*/
    justify-content: center;

}

.sidebar header {
    position: relative;
    margin-top: -20px;
    margin-bottom: 40px;
    flex: 0.2;
}

.sidebar .image-text img {
    width: 40px;
    border-radius: 10px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: block;
    flex-direction: column;
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 20px;
}

.sidebar li a {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s;
    border-radius: 50px;
}

/* To see how to fix the hover its not good i think */
.sidebar li a:hover {
    background-color: #ffffff;
    opacity: 1;
}

.sidebar li .icon:hover {
    color: var(--menubar-icone-hover-color);
}

.sidebar li .icon,
.sidebar li .text {
    display: flex;
    align-items: center;
    font-size: 25px;
    /*min-width: auto;*/
    justify-content: center;
}

.sidebar .menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    background-color: var(--menubar-color);
    backdrop-filter: blur(200px);
    gap: 15px;
    height: fit-content;
}

/* --- Sidebar // Night mode/Light Mode--- */
.bottom-content .mode {
    border-radius: 6px;
    width: 60px;
    margin-top: auto;
}

.bottom-content .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
}

.bottom-content .mode i {
    position: absolute;
    transition: all 0.2s;
}

.bottom-content .mode i.moon {
    opacity: 0;
    left: 5px;
}

.bottom-content .mode i.sun {
    right: 5px;
}

body.light .bottom-content .mode i.sun {
    opacity: 0;
}

body.light .bottom-content .mode i.moon {
    opacity: 1;
}

.bottom-content .mode .toggle-switch {
    position: absolute; /* met le toggle sur la lune ou le soleil pour etre dans la bar */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    right: 0;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    flex-direction: column;
}

.toggle-switch .switch {
    position: relative;
    height: 25px;
    width: 60px;
    border-radius: 25px;
    background: var(--menubar-color);
    z-index: -1;
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--font-color);
}

body.light .switch::before {
    left: auto;
    right: 5px;
}

/* --- Login Bar with avatar--- */
.login-section {
    position: fixed;
    top: 20px;
    right: 60px;
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 20px;
}

.login-section .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.login-section a {
    color: var(--font-color);
    text-decoration: none;
    padding: 5px;
}

.home {
    position: relative;
    height: 100vh;
    top: 75px;
    left: 75px;
    margin: 100px;
    width: calc(100% - 250px);
    z-index: 1;
    transition: all 0.5s;
}



