/.venv
/.idea
/venv
cert.pem
key.pem
/backend/db.sqlite3
requirements.txt
*.pyc
__pycache__/
.DS_Store
.env
**/.DS_Store

# Smart contract
/smart_contract/nodules_module/
/smart_contract/cache/
/smart_contract/artifacts/
/smart_contract/.env

*.pyc

*/migrations/*
!*/migrations/__init__.py
