{% extends 'djangoProject/home.html' %}
{% block title %}Multiplayer game{% endblock %}

{% block content %}
    <h1> Select Players for the Game </h1>
    <form action="{% url 'game:multi' %}" method="POST">
        {% csrf_token %}
        <label for="playerOne">Player 1: </label>
        <select id="playerOne" name="player_one">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.user.username }}</option>
            {% endfor %}
        </select>
        <br><br>

        <label for="playerTwo">Player 2: </label>
        <select id="playerTwo" name="player_two">
            {% for user in users %}
                <option value="{{ user.id }}">{{ user.user.username }} </option>
            {% endfor %}
        </select>
        <br><br>

        <button type="submit">Create Game</button>
    </form>
{% endblock %}