{% extends 'djangoProject/home.html' %}
{% block title %}Quick Play{% endblock %}

{% block content %}
    <div class="grid-container">
        <a href="{% url 'matchMaking:matchmaking' %}" class="online-game game-container">
            <div class="online-game-container">
                <h1>Online game</h1>
                <p>Play one game of Pong against an opponent and get elo points if you win.</p>
            </div>
        </a>
        <a href="{% url 'game:solo' %}" class="small-game solo-game game-container nav-link">
            <h1>Local Game</h1>
            <p>Play a local game against a player on the same device or play against one of the three AI available.</p>
        </a>
        <a href="{% url 'tournaments:tournaments' %}" class="small-game tournament-game game-container">
            <h1>Tournament</h1>
            <p>Create or join a tournament to fight against at least 4 opponents in a bracket-based tournament.</p>
        </a>
        <a href="{% url 'game:online' %}" class="small-game spectate-game game-container nav-link">
            <h1>Spectate Game</h1>
            <p>Spectate any online game and see how bad Lucas is.</p>
        </a>
    </div>

    {% if messages %}
        <script>
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}
