{% extends 'djangoProject/home.html' %}
{% block title %}Quick Play{% endblock %}

{% load static %}

{% block content %}
    <div id="scene-container">
    </div>

    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@v0.171.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.171.0/examples/jsm/"
          }
        }
    </script>
    <script type="module" src="{% static 'js/threejs/main.js' %}"></script>
    <style>
        #scene-container {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        body {
            overflow: hidden;
        }
    </style>
{% endblock %}
