{% extends 'djangoProject/home.html' %}
{% block title %}Waiting for an opponent{% endblock %}
{% load static %}
{% block content %}
    <div class="waiting_page">
        <h1 class="waiting_title">Waiting for an opponent</h1>
        <div class="loader"></div>
        <p class="text_waiting">Please wait while we are finding an opponent for you.</p>
        <button class="cancel-button full-rounded" id="cancelButton">Cancel</button>
    </div>
    <script> const home_url = "{% url home %}"</script>
    <script> const matchID = "{{ match_id }}"</script>
    <script src="{% static 'js/waiting.js' %}"></script>
{% endblock %}