{% extends 'djangoProject/home.html' %}
{% block title %} User Profile {% endblock %}
{% load static %

{% block content %}
<h2>My Profile</h2>
<div class="my-profile">
    <div class="hi-profile">
        <h2>Hi, {{ profile.display_name }}</h2>
        <p> Welcome to your profile page! </p>
    </div>
    <div class="my-profile-pic">
        <h2>My Profile Picture</h2>
        <div class="profile-pic">
        <img class="avatar" src="{{ profile.avatar.url }}" alt="Profile Image">
            <form method="POST" enctype="multipart/form-data" action="{% url 'user:edit_profile' profile.user.username %}">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="avatar">
                {{ avatar_form.avatar }}
            <button type="submit" class="btn btn-primary">Edit Picture</button>
            </form>
        </div>
    </div>
    <div class="my-informations">
        <h2>My Informations</h2>
        <form method="POST" action="{% url 'user:edit_profile' profile.user.username %}">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="profile_info">

            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="error-message">{{ field.errors }}</div>
                    {% endif %}
                    {% if field.help_text %}
                        <div class="help-text">{{ field.help_text }}</div>
                    {% endif %}
                </div>
            {% endfor %}

            {% for field in form2 %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="error-message">{{ field.errors }}</div>
                    {% endif %}
                    {% if field.help_text %}
                        <div class="help-text">{{ field.help_text }}</div>
                    {% endif %}
                </div>
            {% endfor %}

            {% if profile.country %}
                <div class="country-display">
                    <img src="{{ profile.country.flag }}" alt="{{ profile.country.name }} flag" class="country-flag">
                    <span>{{ profile.country.name }}</span>
                </div>
            {% endif %}

            {% if user == profile.user %}
                <button type="submit" class="btn btn-secondary">Update Profile</button>
            {% endif %}
        </form>
        <br>
    <form method="POST" action="{% url 'user:change_password' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
    </div>
</div>
 <div class="diffuse-circle circle-1"></div>

 <!-- Two-factor authentication management -->
 <hr>
 <h3>Two-Factor Authentication</h3>

{% if user.has_usable_password %}
    {% if user.is_authenticated and user.totpdevice_set.exists %}
        <!-- If 2FA is enabled, show the option to disable it -->
        <p>Your two-factor authentication is enabled.</p>
        <a href="{% url 'two_factor:disable' %}" class="btn btn-danger">Disable Two-Factor Authentication</a>

        <!-- Button to view backup tokens -->
        <p><a href="/account/two_factor/backup/tokens/" class="btn btn-warning">View Backup Tokens</a></p>

    {% else %}
        <!-- If 2FA is not enabled, show the option to enable it -->
        <p>Your account does not have two-factor authentication enabled.</p>
        <a href="{% url 'two_factor:setup' %}" class="btn btn-primary">Enable Two-Factor Authentication</a>
    {% endif %}
{% else %}
    <p>Your account does not have a usable password, so two-factor authentication is unavailable.</p>
{% endif %}

{% endblock %}
