{% extends 'djangoProject/home.html' %}
{% block title %} User Profile {% endblock %}

{% block content %}
<img class=avatar src="{{ profile.avatar.url }}" alt="Profile Image" >
    <h2>{{ profile.display_name }}</h2>
        <p><strong>Username:</strong> {{ profile.user.username }}</p>
        <p><strong>Country:</strong> {{ profile.country.name }}
        <img src="{{ profile.country.flag }}" alt="{{ profile.country.name }} flag"></p>
        <p><strong>Rank:</strong> {{ profile.leaderboard_rank }}</p>
        <p><strong>Wins:</strong> {{ profile.total_wins }}</p>
        <p><strong>Losses:</strong> {{ profile.total_losses }}</p>
 <a href="{% url 'friends:friends_overview' %}">Friend list</a>
{% if user == profile.user %}
<hr>
<h3>Edit Profile</h3>
<a href="{% url 'user:edit_user_profile' profile.user.username %}" class="btn btn-secondary">Update Profile</a>
{% endif %}
{% endblock %}

<p class="text-center">