{% extends 'djangoProject/home.html' %}
{% block title %} User Profile {% endblock %}
{% block profile %}
<img src="{{ profile.avatar.url }}" alt="Profile Image" >
<h2>{{ profile.display_name }}</h2>
<p><strong>Username:</strong> {{ profile.user.username }}</p>
<p><strong>Wins:</strong> </p>
<p><strong>Losses:</strong> </p>
<p><strong>Score stored in the blockchain (TEST):</strong> {{ score }}</p>
{% if user == profile.user %}
<hr>
<h3>Edit Profile</h3>
<a href="{% url 'user:edit_user_profile' profile.user.username %}" class="btn btn-secondary">Update Profile</a>
{% endif %}
{% endblock %}

<p class="text-center">