{% extends 'djangoProject/home.html' %}

{% block content %}
 <h1>My Friends</h1>
<div class="my-friends">

<!--    Add friends section-->
    <div class="add-friends"><h3>Add Friends</h3>
        <a>Search</a>
    <form method="GET" action="{% url 'friends:friends_overview' %}">
            <input type="text" class="search-bar" name="q" value="{{ query }}" placeholder="Search for a friend...">
            <button type="submit" class= "button">Search</button>
    </form>
    {% if query %}
        <div class="search-results">

        {% if search_results %}
                 {{ search_results|length }} user{{ search_results|length|pluralize }} found{{ search_results|length|pluralize }}
            <div class="line"></div>
            <ul>
                {% for user in search_results %}
                <li class="user-item">
                <div class="avatar-container">
                        <span class="status-dot {% if user.user.userprofile.is_online %} online {% else %} offline {% endif %}"></span>
                    <img class="avatar" src="{{ user.user.userprofile.avatar.url }}" alt="Profile Image">
                </div>
                    <span class="username">{{ user.user.username }}</span>
                     <img src="{{ user.user.userprofile.country.flag }}" class="flag" alt="flag">
                    <span class="coalition">Coalition</span>
                        <form action="{% url 'friends:send_friend_request' user.user.id %}" method="POST">
                            {% csrf_token %}
                            <button class="button" type="submit" >Add Friend</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p> No user found for "{{ query }}".</p>
        {% endif %}
        </div>
    {% endif %}
        <a>Friend requests sent</a>
        <div class="friend-requests-sent">
            <div class="line"></div>
        {% for request in outgoing_requests %}
            <li class="user-item">
                {{ request.receiver.user.userprofile }} (Pending)
                <form action="{% url 'friends:cancel_friend_request' request.id %}" method="post" >
                    {% csrf_token %}
                    <button class= "button" type="submit" class="btn btn-warning btn-sm">Cancel</button>
                </form>
            </li>
        {% empty %}
            <li class="user-item">No invitation sent.</li>
        {% endfor %}
            </div>
         </div>

<!--    Friend lists section-->
    <div class="friend-list"><h3>Friend List</h3>
        {% if friends %}
    <ul>
        {% for friend in friends %}
           <li class="user-item">
               <div class="avatar-container">
                <span class="status-dot {% if friend.user.userprofile.is_online %} online {% else %} offline {% endif %}"></span>
                <img class="avatar" src="{{ friend.user.userprofile.avatar.url }}" alt="Profile Image">
               </div>
               <span class="username">{{ friend.user.username }}</span>
                <form class="remove-form" method="POST" action="{% url 'friends:remove_friend' friend.user.id %}" onsubmit="return confirmRemove('{{ friend.user.username }}')">
                    {% csrf_token %}
                    <button type="submit" class= "button">
                        Remove
                    </button>
                </form>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>You have no friends.</p>
   {% endif %}
    </div>

<!--    Friend request received section-->
    <div class="friend-request-received">
        <h3>Friend request received</h3>
    <ul>
        {% for request in incoming_requests %}
            <li>
                {{ request.sender.user.userprofile }}
                <div>
                    <form action="{% url 'friends:accept_friend_request' request.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-sm">Accept</button>
                    </form>
                    <form action="{% url 'friends:decline_friend_request' request.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class= "button">Decline</button>
                    </form>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">No incoming friend requests.</li>
        {% endfor %}
    </ul>
    </div>
</div>
<div class="diffuse-circle circle-1"></div>

<script>
    function confirmRemove(username) {
        return confirm(`Are you sure you want to remove ${username} from your friends list?`);
    }
</script>
{% endblock %}


