{% extends 'djangoProject/home.html' %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
    <h2>My Friends</h2>
    <div class="my-friends">
        <div class="add-friends">
            <div class="search">
                <h2>Add a Friend</h2>
                <form class="form-link" method="GET" action="{% url 'friends:friends_overview' %}">
                    <input class="input" type="text" name="q" value="{{ query }}" placeholder="Search for users...">
                    <button class="btn" type="submit">Search</button>
                </form>
            </div>
            <div class="form-result">
                {% if query %}
                    <h3>{{ search_results.count }} result(s) found</h3>
                {% else %}
                    <h3>Friends search</h3>
                {% endif %}
                <div class="sep"></div>
                <div class="friends-container">
                    {% if query %}
                        {% if search_results %}
                            <ul>
                                {% for user in search_results %}
                                    <li class="friend-item">
                                        <div class="profile">
                                            <div class="img-container">
                                                <img src="{{ user.avatar.url }}" alt="">
                                            </div>
                                            <p>{{ user.user.username }}</p>
                                        </div>
                                        <div class="country">
                                            <div class="img-container">
                                                <img src="{{ user.country.flag }}"
                                                     alt="{{ user.country.name }}">
                                            </div>
                                            <p>{{ user.country.name }}</p>
                                        </div>
                                        <form class="form-link" action="{% url 'friends:send_friend_request' user.user.id %}"
                                              method="POST">
                                            {% csrf_token %}
                                            <button class="accept" type="submit">Add Friend
                                                <span>
                                                <img src=" {% static 'img/accept.png' %}" alt="">
                                            </span>
                                            </button>
                                        </form>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p> No users found for "{{ query }}".</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="pending">
                <h3>Pending invitation sent</h3>
                <div class="sep"></div>
                <div class="friends-container">
                    <ul>
                        {% for request in outgoing_requests %}
                            <li class="friend-item">
                                <div class="profile">
                                    <div class="img-container">
                                        <img src="{{ request.receiver.avatar.url }}" alt="">
                                    </div>
                                    <p>{{ request.receiver.user.username }}</p>
                                </div>
                                <div class="country">
                                    <div class="img-container">
                                        <img src="{{ request.receiver.country.flag }}"
                                             alt="{{ request.receiver.country.name }}">
                                    </div>
                                    <p>{{ request.receiver.country.name }}</p>
                                </div>
                                <form class="form-link" action="{% url 'friends:cancel_friend_request' request.id %}"
                                      method="POST">
                                    {% csrf_token %}
                                    <button class="accept" type="submit">Cancel request
                                        <span>
                                                <img src=" {% static 'img/deny.png' %}" alt="">
                                            </span>
                                    </button>
                                </form>
                            </li>
                            {% empty %}
                            <li class="list-group-item">No invitation sent.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


        </div>
        <div class="friend-list"><h2>Friend List</h2>
            {% if friends %}
                <ul>
                    {% for friend in friends %}
                        <li class="friend-item">
                            <div class="profile">
                                <div class="img-container">
                                    <span class="status-dot {% if friend.user.userprofile.is_online %} online {% else %} offline {% endif %}"></span>
                                    <img src="{{ friend.avatar.url }}" alt="">
                                </div>
                                <p>{{ friend.user.username }}</p>
                            </div>
                            <form class="form-link" action="{% url 'friends:remove_friend' friend.id %}"
                                  method="POST">
                                {% csrf_token %}
                                <button class="accept" type="submit">Remove
                                    <span>
                                        <img src=" {% static 'img/deny.png' %}" alt="">
                                    </span>
                                </button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You have no friends.</p>
            {% endif %}
        </div>
        <div class="friend-request-received">
            <h3>Friend request received</h3>
            <ul>
                {% for request in incoming_requests %}
                    <li class="friend-item">
                        <div class="profile">
                            <div class="img-container">
                                <img src="{{ request.sender.avatar.url }}" alt="">
                            </div>
                            <p>{{ request.sender.user.username }}</p>
                        </div>
                        <form class="form-link" action="{% url 'friends:accept_friend_request' request.id %}" method="POST">
                            {% csrf_token %}
                            <button class="accept" type="submit">Accept
                                <span>
                                        <img src=" {% static 'img/accept.png' %}" alt="">
                                    </span>
                            </button>
                        </form>
                        <form class="form-link" action="{% url 'friends:decline_friend_request' request.id %}" method="POST">
                            {% csrf_token %}
                            <button class="accept" type="submit">Deny
                                <span>
                                        <img src=" {% static 'img/deny.png' %}" alt="">
                                    </span>
                            </button>
                        </form>
                    </li>
                    {% empty %}
                    <li class="list-group-item">No incoming friend requests.</li>
                {% endfor %}
            </ul>
        </div>

    </div>
    <div class="diffuse-circle circle-1"></div>
{% endblock %}
