{% extends "two_factor/_base.html" %}
{% load i18n %}
{% load static %}
{% block body_attributes %}data-active-page=""{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/2falogin.css' %}">
{% endblock %}

{% block two_factor_content %}
    <div class="login-container">
        <h2 class="login-header">
            {% if wizard.steps.current == 'token' %}Verify
            {% elif wizard.steps.current == 'backup' %}Backup Token
            {% else %}Login{% endif %}
        </h2>

        <form action="" method="post" class="login-form">
            {% csrf_token %}
            {{ wizard.management_form }}
            {{ form.as_p }}

            <button type="submit" class="login-btn">
                {% if wizard.steps.current == 'token' %}Verify
                {% elif wizard.steps.current == 'backup' %}Verify Backup Token
                {% else %}Login{% endif %}
            </button>

            {% if wizard.steps.current == 'backup' %}
                <button name="wizard_goto_step" type="submit" value="token" class="login-btn" style="margin-top: 10px;">
                    Back to 2FA
                </button>
            {% endif %}
        </form>

        {% if wizard.steps.current == 'token' %}
            <hr>
            <div class="backup_tokens_form">
                <form action="" method="post">
                    {% csrf_token %}
                    <p>As a last resort, you can use a backup token:</p>
                    <p>
                        <button name="wizard_goto_step" type="submit" value="backup"
                                class="btn btn-sm btn-secondary btn-block">Use Backup Token
                        </button>
                    </p>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
