{% extends 'djangoProject/home.html' %}
{% block title %}Dashboard{% endblock %}
{% load static %

{% block content %}
<h2>My Dashboard</h2>
<div class="dashboard-container">
    <div class="graph-container">
        <h2>Graph to do</h2>
    </div>
    <div class="history-container">
    <h2>History</h2></div>

    <div class="leaderboard-container">
    <h2>Leaderboard</h2>
    <table id ="ranking">
        <tbody>
            {% for entry in leaderboard %}
         <tr {% if entry.player.user == request.user %} class="current-user"{% endif %}>
                <td>{{ entry.rank }}.</td>
                <td> <img src="{{ entry.player.avatar.url }}" alt=""></td>
                <td>{{ entry.player.user.username }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="win-loss-container">
    <h2>Statistics</h2>
        {% if user_entry %}
        <div class="wins-losses">
            <p class="total">{{ user_entry.total_wins }} </p>
            <p class="title">Win(s) </p>
            <p class = total>{{ user_entry.total_losses }} </p>
            <p class="title">Losse(s) </p>
        </div>
        {% else %}
        <p>No data available for the authenticated user.</p>
        {% endif %}
    </div>

    <div class="update-profile-container">
        <a href="{% url 'user:edit_profile' profile.user.username %}">
    <button class="btn btn-primary">Update my profile</button>
        </a>
    </div>
</div>
    <div class="diffuse-circle circle-1"></div>

{% endblock %}