{% extends 'djangoProject/home.html' %}
{% block title %}Dashboard{% endblock %}
{% load static %

{% block content %}
<h2>My Dashboard</h2>
<div class="dashboard-container">
    <div class="graph-container">
        <h2>My Activity</h2>
    </div>
    <div class="history-container">
    <h2>My History</h2>
        <div class="table-wrapper">
        {% if game_histories %}
            {% for history in game_histories %}
            <div class="game-history">
                <div class="players">
                    <div class="player">
                        <img src="{{ history.player_one.avatar.url }}" alt="Avatar">
                        <span>{{ history.player_one.user.username }} </span>
                    </div>
                    <div class="scores">
                    <span>{{ history.player_two_score }} - {{ history.player_one_score }}</span>
                </div>
                    <div class="player">
                        <img src="{{ history.player_two.avatar.url }}" alt="Avatar">
                        <span>{{ history.player_two.user.username }}</span>
                    </div>
                </div>
               <div class="win-and-date">
                <div class="winner">
                    <span>
                        <i class='bx bx-trophy'></i>
                    </span>
                     <strong>{{ history.winner.user.username }}</strong>
                </div>
                <div class="date">
                    Played on: {{ history.date_played|date:"M d, Y H:i" }}
                </div>
            </div>
            </div>
                {% endfor %}
        {% else %}
            <p>No game played yet.</p>
        {% endif %}
        </div>
        </div>

    <div class="leaderboard-container">
    <h2>My Leaderboard</h2>
        <div class="table-wrapper">
    <table id ="ranking">
        <tbody>
            {% for entry in leaderboard %}
         <tr {% if entry.player.user == request.user %} class="current-user"{% endif %}>
                <td><span class="rank">{{ entry.rank }}.</span><img src="{{ entry.player.avatar.url }}" alt=""></td>
                <td> <span class="username">{{ entry.player.user.username }}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>
    </div>

    <div class="win-loss-container">
    <h2>My Statistics</h2>
        {% if user_entry %}
        <div class="wins-losses">
            <p class="total">{{ user_entry.total_wins }} </p>
            <p class="title">Win(s) </p>
            <p class ="total">{{ user_entry.total_losses }} </p>
            <p class="title">Loss(es) </p>
        </div>
        {% else %}
            <p>No data available for the authenticated user.</p>
        {% endif %}
    </div>
    <div class="update-profile-container">
        <h2>My Profile</h2>
         <div class="table-wrapper">
            <a href="{% url 'user:edit_profile' profile.user.username %}" class="nav-link" class="btn">Click here to update your profile</a>
         </div>
    </div>
</div>
    <div class="diffuse-circle circle-1"></div>

{% endblock %}