{% extends 'djangoProject/home.html' %}
{% block title %}Create Tournament{% endblock %}
{% block body_attributes %}data-active-page="play"{% endblock %}

{% block content %}
    <div class="create-tournament">
        <h1 class="title"> Create your tournament </h1>
        <form method="post">
            {% csrf_token %}
            <div class="input-form">
                <label for="name">Tournament name</label>
                <input type="text" name="name" id="name" required class="create_tournament_form_input"
                       placeholder="Name">
            </div>
            <button type="submit" class="primary-btn">Create tournament</button>
        </form>
    </div>
{% endblock %}