{% extends 'djangoProject/home.html' %}
{% block title %}Create Tournament{% endblock %}

{% block content %}
    <div class="create_tournament">
        <h1 class="create_tournament_title"> Create your tournament </h1>
        <form method="post" class="create_tournament_form">
            {% csrf_token %}
            <div class="input-form">
                <input type="text" name="name" id="name" required="" class="create_tournament_form_input">
                <label class="create_tournament_form_label">Tournament name</label>
            </div>
            <button type="submit" class="create_tournament_form_submitButton">Create</button>
        </form>
    </div>
{% endblock %}