{% extends 'djangoProject/home.html' %}
{% block title %}Join a Tournament{% endblock %}

{% block content %}
    <div class="create-tournament">
        <h1 class="title"> Enter the code to join a tournament </h1>
        <form method="post">
            {% csrf_token %}
            <div class="input-form">
                <label for="code">Tournament code :</label>
                <input type="text" name="code" id="code" required placeholder="Code">
            </div>
            <button type="submit" class="primary-btn">Join tournament</button>
        </form>
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
    </div>
{% endblock %}