{% extends 'djangoProject/home.html' %}
{% block title %}Join a Tournament{% endblock %}

{% block content %}
    <div class="join_tournament_container">
        <h1> Enter the code to join a tournament </h1>
        <form method="post" class="join_tournament_form">
            {% csrf_token %}
            <div class="join_tournament_input_form">
                <input type="text" name="code" id="code" required="" class="join_tournament_input">
                <label for="code" class="join_tournament_label">Tournament code :</label>
            </div>
            <button type="submit" class="joint_tournament_button">Join</button>
        </form>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
    </div>
{% endblock %}