{% extends 'djangoProject/home.html' %}
{% block title %}Tournaments{% endblock %}

{% block content %}
    <div class="tournament">
        <h1 class="tournament_selection_title"> Create or join a Tournament </h1>
        <div class="tournament_buttons">
            <button class="create_tournament_link" onclick=window.location.href="{% url 'tournaments:create_tournament' %}">Create a Tournament</button>
            <button class="join_tournament_link" onclick=window.location.href="{% url 'tournaments:join_tournament' %}">Join a Tournament</button>
        </div>
    </div>
{% endblock %}