{% extends 'djangoProject/home.html' %}
{% block title %}Tournaments{% endblock %}

{% block content %}
    <div class="tournament">
        <h1 class="tournament_selection_title"> Create or join a Tournament </h1>
        <div class="tournament_buttons">
            <a class="create-tournament-btn tournament-btn" href="{% url 'tournaments:create_tournament' %}">Create a
                tournament</a>
            <a class="join-tournament-btn tournament-btn" href="{% url 'tournaments:join_tournament' %}">Join a
                tournament</a>
        </div>
    </div>
{% endblock %}