{% extends 'djangoProject/home.html' %}
{% block title %}Tournaments Tree{% endblock %}
{% load static %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/gojs@3.0/release/go.js"></script>
    <script src="{% static 'js/tournament_tree.js' %}"></script>
    <h1>{{ tournament.name }} - Tournament Tree</h1>

    <div id="myDiagramDiv" style="border: solid 1px blue; width:100%; height:600px"></div>
    <div id="nextGameInfo">
        <p>
            {% if opponent_name %}
                You will be redirected to your game against {{ opponent_name }} in 5 seconds ...
            {% else %}
                You will be redirected to your game in 5 seconds ...
            {% endif %}
        </p>
    </div>
    <script>
        const nodes = {{ nodes|safe }};
        const links = {{ links|safe }};

        renderTournamentTree(nodes, links);

        const redirectMessage = document.getElementById("nextGameInfo");
        const currentGameUrl = "{{ current_game_url }}";
        const opponentName = "{{ opponent_name }}";

        console.log(currentGameUrl);
        console.log(opponentName);

        if (currentGameUrl) {
            let secondsRemaining = 5;
            const interval = setInterval(() => {
                secondsRemaining -= 1;
                redirectMessage.innerHTML = `You will be redirected to your game against ${opponentName} in ${secondsRemaining} seconds ...`;
                if (secondsRemaining <= 0) {
                    clearInterval(interval);
                }
            }, 1000);

            setTimeout(() => {
                window.location.href = currentGameUrl
            }, 5000);
        }
    </script>

{% endblock %}